<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Private</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

</head>
<body>
<div class="private">
    <div class="messages">
        <div class="message">
            <div class="avatar"></div>
            <p class="name">Lorem Ipsum</p>
            <span>12 Sep 14:08</span>
            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos, earum eius esse est ex id libero magnam magni minus nulla quaerat, quam saepe. In nam natus omnis perferendis quia!</p>
        </div>
        <!---------------------------------------------->
        <div class="message">
            <div class="avatar"></div>
            <p class="name">Lorem Ipsum</p>
            <span>12 Sep 14:08</span>
            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos, earum eius esse est ex id libero magnam magni minus nulla quaerat, quam saepe. In nam natus omnis perferendis quia!</p>
        </div>
        <div class="message">
            <div class="avatar"></div>
            <p class="name">Lorem Ipsum</p>
            <span>12 Sep 14:08</span>
            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos, earum eius esse est ex id libero magnam magni minus nulla quaerat, quam saepe. In nam natus omnis perferendis quia!</p>
        </div>
        <div class="message">
            <div class="avatar"></div>
            <p class="name">Lorem Ipsum</p>
            <span>12 Sep 14:08</span>
            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos, earum eius esse est ex id libero magnam magni minus nulla quaerat, quam saepe. In nam natus omnis perferendis quia!</p>
        </div>
        <div class="message">
            <div class="avatar"></div>
            <p class="name">Lorem Ipsum</p>
            <span>12 Sep 14:08</span>
            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos, earum eius esse est ex id libero magnam magni minus nulla quaerat, quam saepe. In nam natus omnis perferendis quia!</p>
        </div>
        <div class="message">
            <div class="avatar"></div>
            <p class="name">Lorem Ipsum</p>
            <span>12 Sep 14:08</span>
            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos, earum eius esse est ex id libero magnam magni minus nulla quaerat, quam saepe. In nam natus omnis perferendis quia!</p>
        </div>
        <div class="message">
            <div class="avatar"></div>
            <p class="name">Lorem Ipsum</p>
            <span>12 Sep 14:08</span>
            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos, earum eius esse est ex id libero magnam magni minus nulla quaerat, quam saepe. In nam natus omnis perferendis quia!</p>
        </div>
        <div class="message">
            <div class="avatar"></div>
            <p class="name">Lorem Ipsum</p>
            <span>12 Sep 14:08</span>
            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos, earum eius esse est ex id libero magnam magni minus nulla quaerat, quam saepe. In nam natus omnis perferendis quia!</p>
        </div>
        <div class="message">
            <div class="avatar"></div>
            <p class="name">Lorem Ipsum</p>
            <span>12 Sep 14:08</span>
            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>  Accusamus dignissimos, earum eius esse est ex id libero magnam magni minus nulla quaerat, quam saepe. In nam natus omnis perferendis quia!</p>
        </div>
    </div>
    <div class="new-message">
        <form action="" >
            <button id="message-submit" type="submit" value="Send">
                <i class="fa fa-send-o fa-2x"></i>
            </button>
            <textarea name="message" id="message-text"></textarea>
        </form>
    </div>
</div>
</body>
</html>